.btn-container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;

  .button {
    border: none;
    background: white;
    color: black;
    padding: 10px;
    width: 150px;

    &:hover {
      cursor: pointer;
    }
  }
}