.newProduct {
  width: 90%;
  margin: 0 auto;
  padding: 130px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;

  .formContainer {
    width: 68%;

    .flex-items {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}