.newProduct {
  width: 90%;
  margin: 0 auto;
  padding: 130px 130px 20px 130px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;

  .formContainer {
    width: 68%;

    .flex-items {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

ul {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    list-style-type: none;
    margin-bottom: 10px;
  }
}